In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Preprocess and drop irrevant feature

data.drop(columns=['RowNumber','CustomerId','Surname']).head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [6]:
#Encoding categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [14]:
#Applying once hot encoder to "Geograpgy"
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geography = OneHotEncoder()
geo_encoder = one_hot_encoder_geography.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [15]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [16]:
one_hot_encoder_geography.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [17]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder_geography.get_feature_names_out())
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [19]:
#Combining this with original daata
data = pd.concat([data.drop(columns=['Geography']),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [20]:
#Saving the encoders in pickle file for future use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('one_hot_encoder_geography.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geography,file)

In [21]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [22]:
#Divide the datset into dependent and independent feature
X = data.drop(columns=['Exited'])
y=data['Exited']

#splitting data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#Scaling these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [24]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [29]:
X_train.shape

(7000, 12)

### ANN Implementation

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [31]:
# Build ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # Hidden layer 1
    Dense(32, activation='relu'),                                   # Hidden layer 2
    Dense(1, activation='sigmoid')                                  # Output layer
])

WARNING:tensorflow:From d:\DataScience_AI\ANN Classification DeepLearning\venv_ann\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [32]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
opt = tf.optimizers.Adam(learning_rate=0.01)#optimizer
loss = tf.keras.losses.BinaryCrossentropy()

In [34]:
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [38]:
#Setup the tesorboard
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [36]:
#Setup early stopping
#We see if loss function is decreasing or not if its not then we stop futher epocs
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [39]:
history = model.fit(
    X_train,y_train,validation_data = (X_test,y_test),epochs = 100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\DataScience_AI\ANN Classification DeepLearning\venv_ann\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\DataScience_AI\ANN Classification DeepLearning\venv_ann\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

219/219 [==============================] - 4s 7ms/step - loss: 0.4096 - accuracy: 0.8303 - val_loss: 0.3466 - val_accuracy: 0.8630
Epoch 2/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3589 - accuracy: 0.8530 - val_loss: 0.3445 - val_accuracy: 0.8583
Epoch 3/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3524 - accuracy: 0.8549 - val_loss: 0.3508 - val_accuracy: 0.8590
Epoch 4/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3457 - accuracy: 0.8553 - val_loss: 0.3443 - val_accuracy: 0.8650
Epoch 5/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3458 - accuracy: 0.8553 - val_loss: 0.3320 - val_accuracy: 0.8680
Epoch 6/100
219/219 [==============================] - 1s 4ms/step - loss: 0.3425 - accuracy: 0.8566 - val_loss: 0.3466 - val_accuracy: 0.8657
Epoch 7/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3404 - accuracy: 0.8571 - val_loss: 0.3457 - val_accuracy: 0.8673
Epoch 8/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3379 - accuracy: 0.8586 - val_loss: 0.3365 - val_accuracy: 0.8667
Epoch 9/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3366 - accuracy: 0.8609 - val_loss: 0.3364 - val_accuracy: 0.8627
Epoch 10/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3338 - accuracy: 0.8627 - val_loss: 0.3412 - val_accuracy: 0.8620
Epoch 11/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3313 - accuracy: 0.8616 - val_loss: 0.3312 - val_accuracy: 0.8670
Epoch 12/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3302 - accuracy: 0.8631 - val_loss: 0.3343 - val_accuracy: 0.8677
Epoch 13/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3279 - accuracy: 0.8653 - val_loss: 0.3390 - val_accuracy: 0.8657
Epoch 14/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3255 - accuracy: 0.8661 - val_loss: 0.3531 - val_accuracy: 0.8550
Epoch 15/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3254 - accuracy: 0.8656 - val_loss: 0.3355 - val_accuracy: 0.8647
Epoch 16/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3194 - accuracy: 0.8676 - val_loss: 0.3436 - val_accuracy: 0.8687
Epoch 17/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3188 - accuracy: 0.8649 - val_loss: 0.3435 - val_accuracy: 0.8653
Epoch 18/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3182 - accuracy: 0.8674 - val_loss: 0.3454 - val_accuracy: 0.8633
Epoch 19/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3147 - accuracy: 0.8687 - val_loss: 0.3471 - val_accuracy: 0.8640
Epoch 20/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3124 - accuracy: 0.8709 - val_loss: 0.3396 - val_accuracy: 0.8630
Epoch 21/100
219/219 [==============================] - 1s 5ms/step - loss: 0.3081 - accuracy: 0.8723 - val_loss: 0.3489 - val_accuracy: 0.8607

In [47]:
model.save('model.h5')

d:\DataScience_AI\ANN Classification DeepLearning\venv_ann\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [40]:
%load_ext tensorboard

In [48]:
%tensorboard --logdir logs/fit20250611-205010

Reusing TensorBoard on port 6006 (pid 18644), started 0:29:05 ago. (Use '!kill 18644' to kill it.)

In [49]:
#Load pickle file 
from tensorflow.keras.models import load_model

In [52]:
model = load_model("model.h5")

#load the encoder and scaler

with open("one_hot_encoder_geography.pkl",'rb') as file:
    one_hot_encoder_geography = pickle.load(file)

with open("label_encoder_gender.pkl",'rb') as file:
    label_encoder_geo = pickle.load(file)

with open("scaler.pkl",'rb') as file:
    scaler = pickle.load(file)

In [53]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [62]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [63]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [60]:
#One hot encoding 
geo_encoded = one_hot_encoder_geography.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=one_hot_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded_df

d:\DataScience_AI\ANN Classification DeepLearning\venv_ann\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [66]:
input_df = pd.concat([input_df.drop(columns=['Geography']),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [67]:
#Scaling the input data
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.54204762,  0.91055421,  0.10473081, -0.68894811, -0.26230046,
         0.81966266,  0.64598061,  0.97071435, -0.88153859,  0.99828718,
        -0.57559072, -0.57779016]])

In [71]:
#Predict Churn
prediction = model.predict(input_scaled)
prediction_proba = prediction[0][0]
prediction_proba

1/1 [==============================] - 0s 17ms/step

0.029654203

In [72]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.